*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f0932b;
}
h1{
    margin: 1rem 0 0;
}
.body-weather-app{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    box-shadow: 0 3px 10px rgba(0, 0, 0,.15);
    width: 250px;
    height: auto;
    margin: 2rem 0;
    padding: 1.5rem .5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location .icon img{
    width: 120px;
}
.degree-section{
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
}
.degree-section h3{
    font-size: 65px;
    font-weight: 700;
    margin: 0 auto;
}
.temperature-description{
    background-color: #6DD5FA;
    padding: .75rem 2rem;
    border-radius: 5px;
}
