*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin: 1rem 0 0;
}
.body-weather-app{
    background-color: #121212;
    width: 250px;
    height: auto;
    color: #f0932b;
    margin: 2rem 0;
    padding: 1.5rem .5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location .icon img{
    width: 120px;
}
.degree-section{
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
}
.degree-section h3{
    font-size: 65px;
    font-weight: 700;
    margin: 0 auto;
}
.temperature-description{
    background-color: #333;
    padding: .75rem 2rem;
    color: #f0932b ;
    border-radius: 5px;
}
